* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

.navbar {
    height: 15vh;
    margin: 0 !important;
    padding: 0 !important;
}

.name{
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    color: teal !important;
}

.bottom {
    display: grid;
    grid-template-columns: 50% 50%;
}

.bottom-left {
    grid-column-start: 1;
    height: 85vh;
}

.headshot {
    width: auto;
    height: 85vh;
    display: flex;
    margin-right: auto;
}
