/*.navbar-nav {
    margin-left: 1000px;
}
*/
/*
.navbar-nav {
    float: left;
    background-color: blue;
}

.navbar {
    background-color: green;
}

.navbar-toggler {
    background-color: yellow;
}

.collapse {
    background-color: yellow;
}
*/
.navbar {
    height: 15vh;
    margin: 0 !important;
    padding: 0 !important;
}

.name{
    font-family: Arial;
    font-size: 30px;
}
