* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

.navbar {
    height: 15vh;
    margin: 0 !important;
    padding: 0 !important;
}

.name{
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    color: teal !important;
}

.bottom-left {
    height: 85vh;
    float: left;
}

.headshot {
    width: auto;
    height: 85vh;
    display: flex;
    margin-right: auto;
}

.bottom-right {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-text {
    margin-left: 10vw;
    margin-right: 10vw;
    line-height: 200%;
    vertical-align: middle;
    font-style: italic;
    color: white !important;
}
