.navbar {
    height: 15vh;
    border: solid;
    margin: 0 !important;
    padding: 0 !important;
}

.name{
    font-family: Arial;
    font-size: 30px;
}

body {
    background-color: yellow;
}

* {
    font-family: Didot;
}

/*@media print {

}
*/
