* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

.navbar {
    height: 15vh;
    border: solid;
    margin: 0 !important;
    padding: 0 !important;
}

.name{
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    color: teal !important;
}

body {
    background-color: yellow;
}


/*@media print {

}
*/
